# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit/OS
.streamlit/
.DS_Store

# Data files
survey_responses.csv
*.xlsx
*.csv

# IDEs
.vscode/
.idea/
